# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws


# =========================
# Java / Spring Boot
# =========================
target/
*.class


# =========================
# Gradle
# =========================
.gradle/
build/


# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar


# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

*.pem
*.key


# =========================
# LocalStack
# =========================
infrastructure/local/localstack-data/


# =========================
# Logs
# =========================
*.log
logs/


# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# Spring Initializr
backend/HELP.md